*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgb(209, 92, 190);
    justify-content: center;

}

header .titulo {
    font-size: 50px;
    padding: 20px;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    display: inline-block;
    animation: typing 3s steps(10) forwards, blink 1s step-end infinite;
}


/*Se crean las animaciones para la "maquina de escribir"*/
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


/*Estilo para la imagen de fondo*/
.image {
    display: flex;
    justify-content: center;
    background-image: url(../img/gatitosBackground.jpg); /*Se establece la imagen de fondo*/
    height: 89vh;
    background-repeat: no-repeat; /*Se hace que a imagen no se repita*/
    background-position: center center; /*Centramos en ambos ejes la imagen*/
    background-size: cover; /*Hace que la imagen cubra completamente el contenedor, aunque implique cortar partes de la misma, la imagen mantiene su tamaño original*/
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: darken; /*Permite mezclar la imagen del fondo con el color, 
                                    la propiedad darken hace que se mantenga el color más oscuro de los dos*/
}

.quote {
    color: white;
    padding: 20px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 10% 0;
    border-radius: 20px;
}
